Body {
            background-color: rgb(56, 172, 133);
        }
h1{
    color:rgb(30, 65, 54);
    text-align:center;
    font-size: 40px;
        }
h2{
    color:rgb(30, 65, 54);
    text-align:center;
    font-size: 40px;

}
p{
    text-align: center;
    color:rgb(30, 65, 54);
    font-size: medium;

}
h3{
    color: rgb(30, 65, 54);
}
ol{
    color: rgb(30, 65, 54);
}
