Body {
            background-color: rgb(30, 65, 54);
        }
h1{
    color: blanchedalmond;
    text-align:center;
    font-size: 40px;
        }
h2{
    color: blanchedalmond;
    text-align:center;
    font-size: 40px;

}
p{
    text-align: center;
    color: blanchedalmond;
    font-size: medium;

}
h3{
    color: blanchedalmond;
}
ol{
    color: blanchedalmond;
}
img {
  
  clip-path: circle (40% 50%);
  shape-outside: circle (45% 50%);
  width:60%;
}
.imgstuff{
    width:33%;  
    float:left;
    text-align: center;
}
.mycontainer {
  width:100%;
  overflow:auto;
}