Body {
            background-color: rgb(102, 124, 179);
        }
h1{
    color:azure;
    text-align:center;
        }
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
